# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
build

# Environment files
.env
.env.*
!.env.example

# Git
.git
.gitignore

# Logs
logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo

# Testing
coverage

# Misc
.npm
.yarn
.eslintcache
.local
